@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

* {
  line-height: calc(1em + 0.5rem);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.images {
  width: 100vh;

  background-position: center;
  background-size: cover;
}

h1 {
  font-size: clamp(
    3rem,
    5vw + 1rem,
    5.6rem
  ); /* 90px on large, scales on smaller */
}

h2 {
  font-size: clamp(2rem, 4vw + 0.5rem, 4.6rem); /* Around 75px on large */
}

h3 {
  font-size: clamp(1.75rem, 3vw + 0.5rem, 3.75rem); /* Around 60px on large */
}

h4 {
  font-size: clamp(1.5rem, 2.5vw + 0.5rem, 3.12rem); /* Around 50px on large */
}

h5 {
  font-size: clamp(1.25rem, 2vw + 0.5rem, 2.25rem); /* Around 46px on large */
}

h6 {
  font-size: clamp(1.125rem, 1.5vw + 0.5rem, 2rem); /* 44px on large */
}

p {
  font-size: clamp(1rem, 1vw + 0.25rem, 1.125rem); /* Around 18px on large */
}
